.container{
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
  place-items: center;
  margin-top: 25px;
}

.divImg{
  border-radius: 5px;
  width: 60%;
  background-color: #0f0f0fec;
  padding: 5px;
}

.image{
  width: 60%;
}

.content{
  border-radius: 5px;
  text-align: left;
  width: 100%;
}

.title{
  font-weight: bold;
  font-style: italic;
}