* {
  margin: 0;
  border: 0;
  padding: 0;
  color: white;
}

img{
  width: 100%;
}

body{
  background-image: url("./a.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 120vh;
  background-attachment: fixed;
  text-align: center;
}